<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Blog</title>
        <meta name="viewport" content="width= device-width, initial-scale= 1">
        <meta name="description" content="Zechariah's blog site; Read interesting tech articles here on this blog site.">
        <meta name="keywords" content="'Zechariah, Zedtek, Tech Blog, Tech articles">
        <link rel="stylesheet" href="../static/home.css" type="text/css">
        <link rel="icon" href="" type="image/png">
    </head>
    
    <body>
        <header>
            <img src="../../portfo_app/static/images/ZEDTEK.png" alt="Logo" style="width: 80px; height: 80px; border-radius:50%; background-color: white;">
            <div class="laptop">
                <ul class="lap-nav">
                    <li id="nav"><a href="">Articles</a></li>
                    <li id="nav"><a href="">Quick Reads</a></li>
                    <li id="nav"><a href="">Things to spice up</a></li>
                    <li id="nav"><a href="">Others</a></li>
                </ul>
            </div>
            <!-- mobile screen -->
            <div class="mobile">
                <ul class="mobile-nav">
                    <li id="nav"><a href="">Articles</a></li>
                    <li id="nav"><a href="">Quick Reads</a></li>
                    <li id="nav"><a href="">Things to spice up</a></li>
                    <li id="nav"><a href="">Others</a></li>
                </ul>
            </div>
        </header>
        <!-- custom contents start below. -->
        {%block content%}

        {%endblock%}
    </body>

</html>