*{
    margin: none;
    padding: none;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.laptop .lap-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#nav >a{
    text-decoration: none;
    margin: 10px;
    font-weight: 100;
    color: black;
}

.mobile .mobile-nav{
    display: none;
}